
<div class="second-section  ">
    <div class="d-flex justify-content-center mt-5">
        <h2 class="fw-bold">
            PORTFOLIO
        </h2>
     
        
    </div>
    <div class=" d-flex justify-content-center"> 
        <div class="white-line">
        </div>
        
        <i class="fa-solid fa-star fa-w-18 firstIcons ms-2 me-2 text-dark fa-2x"></i>
        <div class="white-line">
            
        </div>
      
    </div>   
</div>
<div class="container ">
    <div class="row  ">
        <div class="col-md-6 col-lg-4  p-4 ttt">
            
            <div class="position-relative">
                <img src="https://routeegypt.com/start-angular/assets/img/portfolio/cabin.png " class="w-100  rounded-end rounded-start  " alt="">



                <div class="  bg-hover position-absolute top-0 end-0 start-0 bottom-0 rounded-end rounded-star w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-7x"></i>




                </div>
                
            </div>

        </div>
        <div class="col-md-6  col-lg-4 ttt   p-4">
            <div class="position-relative">
                <img src="https://routeegypt.com/start-angular/assets/img/portfolio/cake.png" class="w-100  rounded-end rounded-start" alt="">
                <div class="  bg-hover position-absolute top-0 end-0 start-0 bottom-0 rounded-end rounded-star w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-7x"></i>




                </div>
                
                
                
            </div>

        </div>
        <div class="col-md-6   col-lg-4   p-4 ttt">
            <div class="position-relative">
                <img src="https://routeegypt.com/start-angular/assets/img/portfolio/circus.png" class="w-100  rounded-end rounded-start" alt="">
                <div class="  bg-hover position-absolute top-0 end-0 start-0 bottom-0 rounded-end rounded-star w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-7x"></i>




                </div>
                
            </div>

        </div>
        <div class="col-md-6  col-lg-4   p-4 ttt">
            <div class="position-relative" >
                <img src="https://routeegypt.com/start-angular/assets/img/portfolio/game.png" class="w-100  rounded-end rounded-start" alt="">
                <div class="  bg-hover position-absolute top-0 end-0 start-0 bottom-0 rounded-end rounded-star w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-7x"></i>




                </div>
                
                
            </div>

        </div>
        <div class="col-md-6 col-lg-4     p-4 ttt">
            <div class="position-relative">
                <img src="https://routeegypt.com/start-angular/assets/img/portfolio/safe.png" class="w-100  rounded-end rounded-start" alt="">
                <div class="  bg-hover position-absolute top-0 end-0 start-0 bottom-0 rounded-end rounded-star w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-7x"></i>




                </div>
                
                
            </div>

        </div>
        <div class="col-md-6 col-lg-4   p-4 ttt">
            <div class="position-relative">
                <img src="https://routeegypt.com/start-angular/assets/img/portfolio/submarine.png" class="w-100  rounded-end rounded-start" alt="">
                <div class="  bg-hover position-absolute top-0 end-0 start-0 bottom-0 rounded-end rounded-star w-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-7x"></i>




                </div>
               
                
            </div>

        </div>
    </div>

</div>
